body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.text {
    display: none;
  }

ul {
    /* position: fixed; */
    top: 0;
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c1c20;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ff0044;
    font-style: italic;
}

.active {
    background-color: aquamarine;
}
